
.content {
  margin-top: 4rem;
}


.button {
    position: fixed;
    right: 2rem;
}

.btn-return{
  margin-left: 2rem;
}

.gradient-mario{
  background: rgb(249,4,0);
  background: -moz-linear-gradient(90deg, rgba(249,4,0,1) 0%, rgba(32,234,0,1) 33%, rgba(255,225,0,1) 66%, rgba(2,126,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(249,4,0,1) 0%, rgba(32,234,0,1) 33%, rgba(255,225,0,1) 66%, rgba(2,126,255,1) 100%);
  background: linear-gradient(90deg, rgba(249,4,0,1) 0%, rgba(32,234,0,1) 33%, rgba(255,225,0,1) 66%, rgba(2,126,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f90400",endColorstr="#027eff",GradientType=1);
}

.gradient-minecraft{
  background: rgb(123,88,61);
  background: -moz-linear-gradient(0deg, rgba(123,88,61,1) 75%, rgba(86,131,74,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(123,88,61,1) 75%, rgba(86,131,74,1) 100%);
  background: linear-gradient(0deg, rgba(123,88,61,1) 75%, rgba(86,131,74,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7b583d",endColorstr="#56834a",GradientType=1);
}

.gradient-zelda{
  background: rgb(147,115,32);
  background: -moz-linear-gradient(0deg, rgba(147,115,32,1) 0%, rgba(249,194,54,1) 50%, rgba(147,115,32,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(147,115,32,1) 0%, rgba(249,194,54,1) 50%, rgba(147,115,32,1) 100%);
  background: linear-gradient(0deg, rgba(147,115,32,1) 0%, rgba(249,194,54,1) 50%, rgba(147,115,32,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#937320",endColorstr="#937320",GradientType=1);
}

.imgg{
  border: 13px;
  border-style: ridge;
  margin: 20px;
  padding: 2;
  border-color:#dbca12 ;
}

.immg{
  width: 100%;
}

.taille{
  width: 636px;
  margin: 20px;
}

.pays-de-mario-odyssey{
  border-style: ridge;
}

.couleur-de-lien{
  color: #000000;
}

.bg{
  width: 100%;
  z-index: -2;
  position: fixed;
}

.zelda{
  display: center;
  width: 200%;
  position: fixed;
  z-index: -1;
}

.decal{
  margin-left: 1rem;
}